/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');
@import './App.input.css';

/* Adicione estilos do Tailwind CSS abaixo, se necessário */

body {
  background-color: #f0f0f0;
  font-family: 'Marvel', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav {
  border-bottom: 2px solid #ed1d24;
}

button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
}

button:focus {
  outline: none;
}

button:active {
  transform: translateY(1px);
}
